.login-button {
    -fx-font: 16px "Serif";
    -fx-font-color: #000000;
    -fx-padding: 10;
    -fx-background-color: #ffffff;
    -fx-cursor: hand;
}

.menu-button {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #4c0013;
    -fx-min-width: 239;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.seat-button {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #ffffff;
    -fx-min-width: 39;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-text-fill: #000000;
    -fx-font-size: 18;
}

.menu-button:hover {
    -fx-background-color: #69051e;
}

.menu-sub-button {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #7d0422;
    -fx-min-width: 239;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.menu-sub-button:hover {
    -fx-background-color: #a3052c;
}

.menu-sub-button-mini {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #7d0422;
    -fx-min-width: 120;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.menu-sub-button-mini:hover {
    -fx-background-color: #a3052c;
}

.login-pane {
    -fx-background-color: #63081f;
}

.menu-pane {
    -fx-background-color: #63081f;
}

.seat-pane {
    -fx-background-color: #ff0000;
}

.table-view {
    -fx-background-color: transparent;
    -fx-text-background-color: white;
    -fx-cursor: hand;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #820826, #8f0b2c);
    -fx-background-radius: 7px 7px 0px 0px;

}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell: odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-selection-bar: blue;
}
.table-row-cell: even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-selection-bar: blue;
}
.table-row-cell: hover {
    -fx-background-color: #300210;
}
.table-view:focused .table-row-cell:selected {
    -fx-background-color: #4d051a;
    -fx-table-cell-border-color: #4d051a;
}


.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}


.choice-box .context-menu {
     -fx-background-color: white;
     -fx-border-color: #63081f;
 }
.choice-box .menu-item:focused { -fx-background-color: #63081f; }
.choice-box {
  -fx-background-color: white;
  -fx-mark-color: #63081f;
  -fx-border-color: #63081f;
}

.tab-pane
{
    -fx-tab-min-width:58px;
    -fx-background-color: transparent;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #63081f;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #70102d;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.offer-item-pane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 3px;
}

.pop-up-window-pane {
    -fx-background-color: #ffffff;
    -fx-border-width: 3 3 3 3;
    -fx-background-radius: 3px;
    -fx-border-color: #6a208c;
    -fx-border-radius: 0 0 3 3;
}

.offer-item-label {
    -fx-text-fill: #000;
}

.offer-item-title {
    -fx-text-fill: #000;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #63081f;
}

.menu-pane-title {
    -fx-text-fill: #fff;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #fff;
}

.anchor-pane-border-top {
    -fx-text-fill: #000;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #63081f;
}

.offer-buy-button {
    -fx-font: 14px "Serif";
    -fx-background-color: #7d0422;
    -fx-min-width: 239;
    -fx-min-height: 25;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-text-fill: white;
}
